<!DOCTYPE html>
<html lang="en">

<%- include ('articles/header') -%>



    <body>
        <div class="container-fluid mr-4">
            <h1 class="text-center text-capitalize mt-4 mb-4">Become a Supporter</h1>
            <div class="row">
                <div class="col-lg-6">

                    <div>
                        <!-- <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                            <input type="hidden" name="cmd" value="_donations" />
                            <input type="hidden" name="business" value="lanrad09@yahoo.com" />
                            <input type="hidden" name="currency_code" value="EUR" />
                            <input type="image" src="https://www.paypalobjects.com/en_US/DK/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                            <img alt="" border="0" src="https://www.paypal.com/en_DE/i/scr/pixel.gif" width="1" height="1" />
                        </form> -->

                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" class="d-flex justify-content-center p-3 bg-info">
                            <input type="hidden" name="cmd" value="_donations" />
                            <input type="hidden" name="business" value="lanrad09@yahoo.com" />
                            <input type="hidden" name="currency_code" value="EUR" />
                            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                            <img alt="" border="0" src="" width="1" height="1" />
                        </form>
                    </div>

                </div>
                <div class="col-lg-6" style="background-color:rgb(212,175,55);">
                    <p class="text-justify mt-2 mr-4"> <em>Egalblog</em> is an informational platform designed to be highly informative, efficient , and regularly deliver relevant contents that will keep you updated and be effective in the current and future digital world.</p>
                    <p class="text-justify mr-4"> We are very passionate and enthusiastic about publishing loads of free educational contents to people around the world. Our writers are seasoned passionate professionals with many years of experience and they are located across the
                        globe : Europe, North America, Africa, central Americal. We look forward to welcoming intersted persons from the Middle East to join our team. We rely on your support for a smooth takeoff and stay in the air. Every dollar and Euro
                        donated will help us to cover our budget as we continue to serve you with only the best of contents.</p>
                    <p class="text-justify mr-4"> Your donation to <em>Egalblog</em> will help people learn new skills and provide for their families. You also be helping us to create new resources that will help people expand their technological and essential life skills. </p>
                    <hr>
                    <hr>
                    <p class="text-justify mr-4">If you need help from us with your donations, please forward a copy of your donation receipt to egalblog@gmail.com and tell us what you will like us to do for you.</p>
                </div>

            </div>


        </div>

        </div>
    </body>
    <br>
    <hr>
    <%- include ('articles/footer') -%>

</html>