<!DOCTYPE html>
<html lang="en">

<%- include ('header') -%>

    <body>
        <div class="container">
            <h1 class="mb-4">New Article</h1>

            <form action="/articles" method="POST">
                <%- include('_form_fields') %>
            </form>

        </div>
        <br>
        <hr>
        <%- include ('footer') -%>
    </body>

</html>